.page-body {
    margin: 0px;
    padding: 0px;
}

.page-header {
    position: relative;
    z-index: 2;
    min-height: 56px;
    padding: 0px;

}

.main-menu {
    margin: 0px;
    vertical-align: center;
    text-align: center;
}

.main-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

.main-menu li {
    display: inline-block;

}

.main-menu a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.main-menu img {

    z-index: 3;
    text-align: center;
}
